html,
body {
  background-color: rgb(17, 21, 44);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #D5DCE7 !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

h1 {
  color: rgb(28, 121, 241);
}

.bg-card {
  background-color: rgb(35, 45, 77);
  box-shadow: none;
  margin: -0.2rem;
}

h2 {
  color: rgb(28, 121, 241);
}

.bg-navbar {
  background-color: rgb(0, 0, 0);
}

.bg-abajo {
  background-color: rgba(19, 3, 3, 0.281);
  width: 100%;
  padding: 2rem;
}

.a {
  color: '#D5DCE7'
}



.search {
  border-radius: 1rem;
  padding: 0.5rem;
}

.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
}


@media (max-width: 600px) {
  .bg-card {
    background-color: rgb(35, 45, 77);
    box-shadow: none;
    margin: -0.5rem;
  }
}


.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding: 2px;
  /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column>div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 5px;
}

.percent98 {
  width: 49.8%;
}