html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #D5DCE7 !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

h1 {
  color: rgb(0, 23, 128);
}

h2 {
  color: rgb(0, 66, 128);
}

.bg-navbar {
  background-color: rgb(53, 53, 53);
}

.bg-abajo {
  background-color: rgba(73, 69, 69, 0.281);
  width: 100%;
  padding: 2rem;
}

.a {
  color: '#D5DCE7'
}